<section id="footer">
    <div class="social">
     <a href=""><i class="fa-brands fa-twitter fa-1x  fb"></i> Twitter</a>
     <a href=""><i class="fa-brands fa-facebook fa-1x fb"></i> Facebook</a>
     <a href=""> <i class="fa-brands fa-instagram fa-1x fb"></i> Instagram</a>
     <a href=""><i class="fa-solid fa-envelope fa-1x fb"></i> Mail</a>
    </div>
    <a href="/logout" class="btn btn-success logout">Logout</a>
    <div class="terms">
        <small>Terms of Use</small>
        <small>Policy</small>
        <small>Conditions</small>
    </div>
</section>