 <%- include('header') -%>
<body>
    <%- include('navbar') -%>
    <section id="main">
        <div class="main-text">
            <h1>Explore The Words of God in Every of your Situations</h1>
            <div class="main-buttons">
                <a  href="/login" class="btn btn-lg btn-outline-light" role="button">Sign in</a></a>
                <a href="/register" class="btn btn-lg btn-outline-light" role="button">Register</a>
            </div>
        </div>
    </section>

    <img src="images/heaven1.jpg" alt="" class="cover-img">
    <div class="img-bg"></div>
</body>
</html>